
html, body {
	height: 100%;
}

html {
	background: url(../../themes/chevereto/img/background.png) repeat-x;
}

body {
	background: url(../../themes/chevereto/img/bliss.png) no-repeat center top;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 120%;
}

a {
	color: #327FBE;
	text-decoration: none;
}
a:hover {
	color: #20527B;
	cursor: pointer;
}
a.active {
	cursor: default;
}
	a img {
		border: 0;
	}

h1, h2 {
	text-align: center;
	font-size: 16px;
}
h2 {
	font-weight: normal;
}

input[type=file]{
	position: absolute;
	visibility: hidden;
}

#top, #content, #in-foot {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#top {
	padding: 12px 37px 0 37px;
	position: relative;
	z-index: 1000;
}

	#logged {
		color: #4B8ABE;
		position: absolute;
		right: 37px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 11px;
		text-shadow: 1px 1px 0 rgba(255,255,255, .5);
	}
		#logged span.sep {
			color: #29689C;
		}
		#logged a {
			color: #29689C;
		}
		#logged a:hover {
			color: red;
		}

#wrap {
	margin-bottom: -87px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#content {
	position: relative;
	background: url(../../themes/chevereto/img/bkg-content.png) no-repeat;
	width: 920px; /* 994 - 37*2 */
	min-height: 180px;
	padding: 64px 37px 88px 37px;
	overflow: auto;
	margin-top: -26px;
}

#foot {
	font-size: 11px;
	color: #999;
	background: #F2F2F2;
	border-top: 1px solid #E5E5E5;
}
	#in-foot {
		clear: both;
		padding: 25px;
		overflow: hidden;
		position: relative;
	}
		#foot-content {
			float: left;
		}
	#foot ul {
		list-style: none;
		float: left;
	}
		#foot ul li {
			float: left;
			margin-right: 12px;
		}
	#foot a#foot-site-title {
		color: #999;
	}
	#foot a#powered {
		float: right;
		color: #999;
		text-decoration: none;
		line-height: 20px;
	}
		#foot a#powered img {
			margin-left: 5px;
			vertical-align: bottom;
			transition: opacity 500ms;
			-o-transition: opacity 500ms;
			-moz-transition: opacity 500ms;
			-webkit-transition: opacity 500ms;
			opacity: 0.6;
		}
		#foot a#powered img:hover {
			opacity: 1.0;
		}
	#foot p {
		clear: both;
		float: left;
	}
	

/*CUSTOM STUFF*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ajax_msg{
	clear: both;
	position: relative;
	padding: 5px;
	margin: 5px 0;
	border-radius: 4px
}
.ajax_msg_error{
	background:red;
	color:white
}
.ajax_msg_success{
	background:green;
	color:white
}
.ajax_uploaded {
	padding: 15px;
	vertical-align: middle;
	background-color: #ddd;
}
	.ajax_uploaded .imgwrap {
		float: left;
		width: 440px;
		max-height: 600px;
		/*line-height:150px;*/
		overflow:hidden;
	}
		.ajax_uploaded .imgwrap img {
			float: left;
		}
	.ajax_uploaded .imgwrap-multi {
		float: left;
		width: 440px;
		max-height: 100px;
		/*line-height:100px;*/
		overflow:hidden;
		margin: 4px 0;
	}
		.ajax_uploaded .imgwrap-multi img {
			float:left;
			width: 100px;
		}
	.ajax_uploaded input{
		width: 180px;
		height: 25px;
		margin: 38px 0;
	}
	.ajax_uploaded button{
		width: 50px;
		height: 30px;
	}

.zclip {
	cursor: pointer;
}
	.zclip embed {
		position: absolute;
	}

#url {
	margin: 10px;
	padding: 2px;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: 1px 1px 8px #999;
}


/****** UPLOADER ******/
#imagescroller {
	position: relative;
	overflow: hidden;
	margin: -51px 0 0 -24px;
	cursor: pointer;
}
#imagescroller, #scrollercaption{
	width: 968px;
	height: 140px;
	border-radius: 4px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
}
	#imagescroller ul{
		position: relative;
		height: 100%;
		min-width: 968px;
	}
	#imagescroller li{
		position: relative;
		float: left;
		height: 100%;
		/*margin: 5px;*/
	}
	#imagescroller img {
		max-height: 140px;
		max-width: 900px;
		opacity: 0.7;
	}
	#imagescroller img:hover {
		opacity: 1.0;
	}
		/*#imagescroller img:hover + .delicon{*/
			/*opacity: 0.9;*/
		/*}*/
#imageprogressbar {
	height: 100%;
	width: 100%;
	left: 100%;
	position: absolute;
	background: #000;
	opacity: 0.5;
	z-index: 2;
}
#scrollercaption {
	user-select: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	position: absolute;
	font: bold 30px arial,sans-serif;
	top: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	text-align: center;
	line-height: 140px;
	color: #aaa;
	text-shadow:0 -1px 0 #444;
	transition: all 500ms;
	-o-transition: all 500ms;
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
}
#scrollercaption:hover {
	color: #aca;
	background-color: #191;
}
.delicon {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 12px;
	height: 12px;
	/*opacity: 0.1;*/
	cursor: pointer;
	background: #fff url(../../themes/chevereto/img/ico-cancelupload.gif) center no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
}
.delicon:hover {
	background-color: #eee;
}

#uploadbuttons {
	float: right;
	margin: 5px 0;
}

#optiondialog {
	display: none;
}

/*****IMAGE CROPPER********/
.cropdialog {
	display:none;
}
.cropimage {
	float: left;
}
.cropthumb {
	float: right;
}

/***** TAB MENU *******/
#menu {
	position: absolute;
	bottom: 14px;
	right: 22px;
}
#menu ul {
	list-style: none;
	line-height: normal; }
#menu li {
	position: relative;
	display: inline;
	text-align: center; }
#menu a {
	position: relative;
	float: left;
	font: bold 15px Verdana;
	line-height: 40px;
	margin-left: 4px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	text-shadow: 1px 1px 1px black;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-o-transition: background 300ms;
	transition: background 300ms;
}
#menu a > span {
	position: absolute;
	width: 8px;
	height: 8px;
	bottom: 0;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
#menu a:hover {
	background: rgba(0,0,0,0.2); }
#menu a:hover span {
	opacity:0.2 }
#menu .elbow-left{
	background: -o-radial-gradient(0 0, circle, transparent 7px, black 8px);
	background: -moz-radial-gradient(0 0, circle, transparent 7px, black 8px);
	background: -webkit-radial-gradient(0 0, circle, transparent 7px, black 8px);
}
#menu .elbow-right{
	background: -o-radial-gradient(100% 0, circle, transparent 7px, black 8px);
	background: -moz-radial-gradient(100% 0, circle, transparent 7px, black 8px);
	background: -webkit-radial-gradient(100% 0, circle, transparent 7px, black 8px);
}
#menu .elbow-left {left: -8px;}
#menu .elbow-right {right: -8px;}
#menu .active {
	z-index: 9;
	bottom: -1px;
}
#menu .active a {
	background: #fff;
	color: #003300;
	text-shadow: 1px 1px 2px #afa; }
#menu .active a > span {
	opacity: 1;
}
#menu .active .elbow-left {
	background: -o-radial-gradient(0 0, circle, transparent 7px, #fff 8px);
	background: -moz-radial-gradient(0 0, circle, transparent 7px, #fff 8px);
	background: -webkit-radial-gradient(0 0, circle, transparent 7px, #fff 8px);
}
#menu .active .elbow-right {
	background: -o-radial-gradient(100% 0, circle, transparent 7px, #fff 8px);
	background: -moz-radial-gradient(100% 0, circle, transparent 7px, #fff 8px);
	background: -webkit-radial-gradient(100% 0, circle, transparent 7px, #fff 8px);
}

/***************/
/* ADMIN PAGES */
/***************/

.admin-gallery {
	width: 850px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
}
	.admin-gallery img {
		opacity:0.8;
		margin: 4px 0;
		outline: 2px solid #000;
		transition: opacity 400ms;
		-webkit-transition: opacity 400ms;
		-moz-transition: opacity 400ms;
		-o-transition: opacity 400ms;
	}
		.admin-gallery .ui-selected {
			opacity:1;
			outline: 3px solid #0A0;
		}
		.admin-gallery .ui-selecting {
			opacity:1;
			outline: 2px solid #0F0;
		}
	.admin-gallery a:hover .delicon2 {
		display: block;
	}

.delicon2 {
	/*display: none;*/
	position: absolute;
	top: -7px;
	right: -7px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background: #fff url(../../themes/chevereto/img/ico-cancelupload.gif) center no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
}
.delicon2:hover {
	background-color: #eee;
}

#settings {

}
	#settings h3 {
		font: bold 18px Verdana;
	}
	#settings > div {
		background: #DDD;
		padding: 8px;
		margin: 3px 0;
	}


/*!
* jQuery contextMenu - Plugin for simple contextMenu handling
*
* Version: 1.5.25
*
* Authors: Rodney Rehm, Addy Osmani (patches for FF)
* Web: http://medialize.github.com/jQuery-contextMenu/
*
* Licensed under
*   MIT License http://www.opensource.org/licenses/mit-license
*   GPL v3 http://opensource.org/licenses/GPL-3.0
*
*/

.context-menu-list {
	margin:0;
	padding:0;

	min-width: 120px;
	max-width: 250px;
	display: inline-block;
	position: absolute;
	list-style-type: none;

	border: 1px solid #DDD;
	background: #EEE;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.context-menu-item {
	padding: 2px 2px 2px 24px;
	background-color: #EEE;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.context-menu-separator {
	padding-bottom:0;
	border-bottom: 1px solid #DDD;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.context-menu-item.hover {
	cursor: pointer;
	background-color: #39F;
}

.context-menu-item.disabled {
	color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
	cursor: default;
	background-color: #EEE;
}

.context-menu-submenu:after {
	content: ">";
	color: #666;
	position: absolute;
	top: 0;
	right: 3px;
	z-index: 1;
}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-edit { background-image: url(../../themes/chevereto/img/page_white_edit.png); }
.context-menu-item.icon-cut { background-image: url(../../themes/chevereto/img/cut.png); }
.context-menu-item.icon-copy { background-image: url(../../themes/chevereto/img/page_white_copy.png); }
.context-menu-item.icon-paste { background-image: url(../../themes/chevereto/img/page_white_paste.png); }
.context-menu-item.icon-delete { background-image: url(../../themes/chevereto/img/page_white_delete.png); }
.context-menu-item.icon-add { background-image: url(../../themes/chevereto/img/page_white_add.png); }
.context-menu-item.icon-quit { background-image: url(../../themes/chevereto/img/door.png); }

/* vertically align inside labels */
.context-menu-input > label > * { vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
	margin-left: -17px;
}
.context-menu-input > label > span {
	margin-left: 5px;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
	display: block;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.context-menu-input > label > textarea {
	height: 100px;
}
.context-menu-item > .context-menu-list {
	display: none;
	/* re-positioned by js */
	right: -5px;
	top: 5px;
}

.context-menu-item.hover > .context-menu-list {
	display: block;
}

.context-menu-accesskey {
	text-decoration: underline;
}

/* ********** */
/* PAGINATION */
/* ********** */
.paginator_list {
	text-align:center;
	padding: 20px;
}
	.paginator_list li {
		display: inline-block;
	}
.page {
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}
	.page a {
		color: #717171;
	}
	.page:hover {
	    background: #fefefe;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
	    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
	}
.page.disabled {
	opacity: 0.3;
}
.page.current {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
.page.current a {
	color: #f0f0f0;
}