
html, body {
	height: 100%;
}

html {
	background: url(../../themes/chevereto/img/background.png) repeat-x;
}

body {
	background: url(../../themes/chevereto/img/bliss.png) no-repeat center top;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 120%;
}

a {
	color: #327FBE;
	text-decoration: none;
}
a:hover {
	color: #20527B;
	cursor: pointer;
}
a.active {
	cursor: default;
}
	a img {
		border: 0;
	}

h1, h2 {
	text-align: center;
	font-size: 16px;
}
h2 {
	font-weight: normal;
}

input[type=file]{
	position: absolute;
	visibility: hidden;
}

#top, #content, #in-foot {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#top {
	padding: 12px 37px 0 37px;
	position: relative;
	z-index: 1000;
}

	#logged {
		color: #4B8ABE;
		position: absolute;
		right: 37px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 11px;
		text-shadow: 1px 1px 0 rgba(255,255,255, .5);
	}
		#logged span.sep {
			color: #29689C;
		}
		#logged a {
			color: #29689C;
		}
		#logged a:hover {
			color: red;
		}

#wrap {
	margin-bottom: -87px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#content {
	position: relative;
	background: url(../../themes/chevereto/img/bkg-content.png) no-repeat;
	width: 920px; /* 994 - 37*2 */
	min-height: 180px;
	padding: 64px 37px 88px 37px;
	overflow: auto;
	margin-top: -26px;
}

#foot {
	font-size: 11px;
	color: #999;
	background: #F2F2F2;
	border-top: 1px solid #E5E5E5;
}
	#in-foot {
		clear: both;
		padding: 25px;
		overflow: hidden;
		position: relative;
	}
		#foot-content {
			float: left;
		}
	#foot ul {
		list-style: none;
		float: left;
	}
		#foot ul li {
			float: left;
			margin-right: 12px;
		}
	#foot a#foot-site-title {
		color: #999;
	}
	#foot a#powered {
		float: right;
		color: #999;
		text-decoration: none;
		line-height: 20px;
	}
		#foot a#powered img {
			margin-left: 5px;
			vertical-align: bottom;
			transition: opacity 500ms;
			-o-transition: opacity 500ms;
			-moz-transition: opacity 500ms;
			-webkit-transition: opacity 500ms;
			opacity: 0.6;
		}
		#foot a#powered img:hover {
			opacity: 1.0;
		}
	#foot p {
		clear: both;
		float: left;
	}
	

/*CUSTOM STUFF*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ajax_msg{
	clear: both;
	position: relative;
	padding: 5px;
	margin: 5px 0;
	border-radius: 4px
}
.ajax_msg_error{
	background:red;
	color:white
}
.ajax_msg_success{
	background:green;
	color:white
}
.ajax_uploaded {
	padding: 15px;
	vertical-align: middle;
	background-color: #ddd;
}
	.ajax_uploaded .imgwrap {
		float: left;
		width: 440px;
		max-height: 600px;
		/*line-height:150px;*/
		overflow:hidden;
	}
		.ajax_uploaded .imgwrap img {
			float: left;
		}
	.ajax_uploaded .imgwrap-multi {
		float: left;
		width: 440px;
		max-height: 100px;
		/*line-height:100px;*/
		overflow:hidden;
		margin: 4px 0;
	}
		.ajax_uploaded .imgwrap-multi img {
			float:left;
			width: 100px;
		}
	.ajax_uploaded input{
		width: 180px;
		height: 25px;
		margin: 38px 0;
	}
	.ajax_uploaded button{
		width: 50px;
		height: 30px;
	}

.zclip {
	cursor: pointer;
}
	.zclip embed {
		position: absolute;
	}


/****** UPLOADER ******/
#imagescroller {
	position: relative;
	overflow: hidden;
	margin: -51px 0 0 -24px;
	cursor: pointer;
}
#imagescroller, #scrollercaption{
	width: 968px;
	height: 140px;
	border-radius: 4px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0,rgba(50, 50, 50, 0.1) 150px);
}
	#imagescroller ul{
		position: relative;
		height: 100%;
		min-width: 968px;
	}
	#imagescroller li{
		position: relative;
		float: left;
		height: 100%;
		/*margin: 5px;*/
	}
	#imagescroller img {
		max-height: 140px;
		max-width: 900px;
		opacity: 0.7;
	}
	#imagescroller img:hover {
		opacity: 1.0;
	}
		/*#imagescroller img:hover + .delicon{*/
			/*opacity: 0.9;*/
		/*}*/
#imageprogressbar {
	height: 100%;
	width: 100%;
	left: 100%;
	position: absolute;
	background: #000;
	opacity: 0.5;
	z-index: 2;
}
#scrollercaption {
	user-select: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	position: absolute;
	font: bold 30px arial,sans-serif;
	top: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	text-align: center;
	line-height: 140px;
	color: #aaa;
	text-shadow:0 -1px 0 #444;
	transition: all 500ms;
	-o-transition: all 500ms;
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
}
#scrollercaption:hover {
	color: #aca;
	background-color: #191;
}
.delicon {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 12px;
	height: 12px;
	/*opacity: 0.1;*/
	cursor: pointer;
	background: #fff url(../../themes/chevereto/img/ico-cancelupload.gif) center no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
}
.delicon:hover {
	background-color: #eee;
}

#uploadbuttons {
	float: right;
	margin: 5px 0;
}

#optiondialog {
	display: none;
}

/*****IMAGE CROPPER********/
.cropdialog {
	display:none;
}
.cropimage {
	float: left;
}
.cropthumb {
	float: right;
}

/******** GALLERY *********/
.gallery {
	width: 850px;
	margin: 0 auto;
	overflow: hidden
}
	.gallery img {
		margin: 4px;
	}

#infscr-loading {
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 45%;
	bottom: 40px;
	width: 200px;
	padding: 10px;
	background: #000;
	opacity: 0.8;
	color: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
