.gallery {
	width: 850px;
	margin: 0 auto;
	overflow: hidden
}
	.gallery img {
		display: block;
	}
	.gallery img:hover {
		opacity: 0.9;
		outline: 1px solid #666;
		box-shadow: 0px 0px 10px #000;
	}

#infscr-loading {
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 45%;
	bottom: 40px;
	width: 200px;
	padding: 10px;
	background: #000;
	opacity: 0.8;
	color: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}