html {
	background: #ccc;
}


dl {
    margin-bottom:50px;
    max-width: 800px;
}
 
dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    clear:both;
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:150px;
}
 
dl dd {
    margin:2px 0; 
    padding:5px 0;
}

#preliminary dt {
    width: 300px;
}
.passed {
    background:#009900;
}
.failed {
    background:#CC0000;
}

#config_fields, #db_fields {
	display:none;
}

#install_message {
	display:none;
}

textarea {
	width: 900px;
	height: 90px;
}